@import './variables.scss';
@import './animations.scss';
@import './word-cards.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');

.main {
  display: flex;
  flex-direction: column;

  .content {
    flex: 1;
    flex-direction: column;
    gap: 30px;
  }

  .letter-buttons-container {
    padding-bottom: 80px;
    position: relative;
  }
}

.button--delete {
  position: absolute;
  right: 0;
  top: -50px;
}

.button--space {
  background-color: transparent;
  border: transparent;
}

.content__word-ru {
  font-size: $font-lg;
}

.content__word-en {
  font-size: $font-lg;
  color: $color-correct;
}

.content__letters {
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

.check-the-result {
  padding: 20px 20px 60px;
}

.button--correct {
  color: $color-dark-secondary;
  border-color: $color-light-primary;
}

.finish {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;

  h1 {
    font-size: $font-xxl;
  }
}