@import './variables.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.guess {
  padding: 60px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;

  .guess-word {
    text-align: center;
    font-size: $font-xxl;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .guess-word-container {
    position: relative;
  }

  .guess-word-example {
    text-align: center;
    font-size: $font-sm;
    background: transparent;
    border: 1px solid $color-light-secondary;
    border-radius: $border-radius;
    color: $color-white;
    padding: 12px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(-60px);
  }

  .guess-options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }

  .guess-word-number {
    text-align: center;
  }
}

.guess-end {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}