@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');
@import './animations.scss';
@import './variables.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  display: block;
  color: currentColor;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-size: $font-md;
  color: $color-white;
  background-color: $color-dark-secondary;

  .main {
    flex: 1;
  }
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

.header {
  padding: 20px;
  background-image: linear-gradient($color-dark-primary, $color-dark-secondary);

  .logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 30px;
    gap: 10px;

    & p {
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
    }

    & img {
      width: 30px;
      height: 30px;
      border: 1px solid $color-white;
      border-radius: 50%;
      height: 30px;
    }
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
  border-radius: $border-radius;
  width: fit-content;
  border: 1px solid $color-light-secondary;
  font-weight: 300;
  cursor: pointer;
  outline: none;
  font-size: $font-sm;

  &--primary {
    background-color: $color-light-primary;
    padding: 12px;
    color: $color-white;

    &:active,
    &:focus,
    &:hover,
    &:focus-within {
      background-color: $color-light-secondary;
      border-color: $color-white;
    }
  }

  &--secondary {
    background-color: $color-light-secondary;
    padding: 12px 24px;
    border-color: $color-dark-primary;
    color: $color-dark-primary;

    &:active,
    &:focus,
    &:hover,
    &:focus-within {
      opacity: 0.5;
    }
  }

  &--full {
    width: 100%;
  }

  &--correct {
    padding: 12px 24px;
    font-weight: 800;
    background-color: $color-correct;
    border-color: $color-dark-primary;
  }

  &:disabled {
    background-color: $color-dark-secondary;
  }

  &--icon {
    background: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    & svg {
      color: $color-white;
      height: 30px;
      width: 30px;
    }
  }
}

.heart-icon {
  width: 20px;
  color: $color-light-secondary;
  fill: $color-red;
}

.hidden-up {
  opacity: 0;
  visibility: hidden;
}

.wiggle-animation {
  animation: wiggle 2s linear infinite;
}

.scale-animation {
  animation: scale 2s linear infinite;
}

.topics {
  padding: 80px 20px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.the-end {
  font-size: $font-xxl;
}