$color-dark-primary: #000000;
$color-dark-secondary: #282A3A;
$color-light-primary: #735F32;
$color-light-secondary: #C69749;
$color-white: #ffffff;
$color-correct: #A2FF86;

$border-radius: 8px;

$font-sm: 12px;
$font-md: 18px;
$font-lg: 24px;
$font-xl: 30px;
$font-xxl: 36px;